<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tvmanager</title>
</head>
<body>
{% for series_info in series %}
<h2>{{series_info.name}}:</h2>
    <ul>
        <li>
            S{{series_info.next.season}}E{{series_info.next.code}} <strong>{{series_info.next.title}}</strong>, {{series_info.next.airdate}}
        </li>
        <li>
            S{{series_info.previous.season}}E{{series_info.previous.code}} <strong>{{series_info.previous.title}}</strong>, {{series_info.previous.airdate}}
        </li>
    </ul>
{% endfor %}


</body>
</html>